body {
    background: white;
    /* background: red url("../images/fundo.gif") repeat; */
}

.produto-card-img {
    width: 65%;
    border-radius: 50%;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    aspect-ratio: 1 / 1;
}
@media screen and (min-width: 767px){
    .logo-img-md {
        max-width: 40%;
        height: auto;
    }
}

@media screen and (max-width: 766px){
    .logo-img-sm {
        max-width: 60%;
        height: auto;
    }
}

.green{
    color: #009640;
    border-color: green;
}

@media screen and (max-width: 767px) {
    .produto-card-sm {
        padding: 1.5em .5em .5em;
        border-radius: 2em;
        text-align: center;
        box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
        width: 28rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .produto-card-md {
        padding: 1.5em .5em .5em;
        border-radius: 2em;
        text-align: center;
        box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
        width: 20rem;
    }
}


@media screen and (min-width: 992px) {
    .produto-card-lg {
        padding: 1.5em .5em .5em;
        border-radius: 2em;
        text-align: center;
        box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
        width: 20rem;
    }
}

.card-title {
    font-weight: 700;
    font-size: 1.5em;
}

.card-value {
    font-weight: 700;
    font-size: 1.5em;
}

.card-header .fa {
    transition: .3s transform ease-in-out;
}

.card-header .collapsed .fa {
    transform: rotate(90deg);
}

#heading-collapsed {
    color: white !important;
    background-color: transparent;
    text-decoration: none;
}

.border-top-green{
    border-top: 2px solid #009640
}

